{% extends 'layouts/master.html' %}
{% block title %} Register {% endblock title %}
{% block content %} 

<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-muted">Register</h2>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{from.username.id_for_lable}}" class="form-label">UserName:</label>
            <input type="text" class="form-control" id="" placeholder="Enter name" name="{{form.username.name}}" value="{{form.username.value}}">
            {% if form.username.errors %}
            <span class="text-danger">{{form.username.errors}}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{from.password1.id_for_lable}}" class="form-label">Password:</label>
            <input type="password" class="form-control" id="" placeholder="Enter Password" name="{{form.password1.name}}" value="{{form.password1.value}}">
            {% if form.password1.errors %}
            <span class="text-danger">{{form.password1.errors}}</span>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{from.password2.id_for_lable}}" class="form-label">Re-Type Password:</label>
            <input type="password" class="form-control" id="" placeholder="Confirm Password" name="{{form.password2.name}}" value="{{form.password2.value}}">
            {% if form.password2.errors %}
            <span class="text-danger">{{form.password2.errors}}</span>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-dark mt-2">Submit</button>
        <a class="btn btn-default" href="{% url 'login' %}">Login</a>
      </form>
    </div>
</div>


{% endblock content %}